
temp.txt
setup_orig.txt
__pycache__/BuildingGroup.cpython-38.pyc
__pycache__/Modifier.cpython-38.pyc
__pycache__/Parser.cpython-38.pyc
__pycache__/PopGroup.cpython-38.pyc
__pycache__/Territory.cpython-38.pyc
Building_ids.rome
builds.txt
pop_data.csv
province_setup.csv
province_setup_test.csv
setup_test.txt
territory_data.csv
territory_data_2.csv
.project
.pydevproject
diplomacy_data.csv
