
temp.txt
setup_orig.txt
__pycache__/BuildingGroup.cpython-38.pyc
__pycache__/Modifier.cpython-38.pyc
__pycache__/Parser.cpython-38.pyc
__pycache__/PopGroup.cpython-38.pyc
__pycache__/Territory.cpython-38.pyc
Building_ids.rome
builds.txt
pop_data.csv
province_setup.csv
province_setup_test.csv
setup_test.txt
territory_data.csv
territory_data_2.csv
.project
.pydevproject
diplomacy_data.csv
__pycache__/Setup_editor.cpython-38.pyc
Tools/ListToDic.py
__pycache__/Color.cpython-38.pyc
DoA debug.rome
TST.txt
__pycache__/Country.cpython-38.pyc
countries/DoA_mod/A00.txt
countries/DoA_mod/A01.txt
countries/DoA_mod/A03.txt
countries/DoA_mod/A06.txt
countries/DoA_mod/A10.txt
countries/DoA_mod/A13.txt
countries/DoA_mod/A28.txt
countries/DoA_mod/A29.txt
countries/DoA_mod/A31.txt
countries/DoA_mod/A42.txt
countries/DoA_mod/A44.txt
countries/DoA_mod/A45.txt
countries/DoA_mod/A47.txt
countries/DoA_mod/A48.txt
countries/DoA_mod/A49.txt
countries/DoA_mod/A50.txt
countries/DoA_mod/A51.txt
countries/DoA_mod/A53.txt
countries/DoA_mod/A54.txt
countries/DoA_mod/A55.txt
countries/DoA_mod/A60.txt
countries/DoA_mod/A61.txt
countries/DoA_mod/A65.txt
countries/DoA_mod/A69.txt
countries/DoA_mod/A75.txt
countries/DoA_mod/A76.txt
countries/DoA_mod/A77.txt
countries/DoA_mod/A78.txt
countries/DoA_mod/A79.txt
countries/DoA_mod/A80.txt
countries/DoA_mod/A84.txt
countries/DoA_mod/A86.txt
countries/DoA_mod/A87.txt
countries/DoA_mod/A89.txt
countries/DoA_mod/A94.txt
countries/DoA_mod/A95.txt
countries/DoA_mod/A96.txt
countries/DoA_mod/B01.txt
countries/DoA_mod/B04.txt
countries/DoA_mod/B06.txt
countries/DoA_mod/B08.txt
countries/DoA_mod/B10.txt
countries/DoA_mod/B11.txt
countries/DoA_mod/B12.txt
countries/DoA_mod/B13.txt
countries/DoA_mod/B14.txt
countries/DoA_mod/B15.txt
countries/DoA_mod/B17.txt
countries/DoA_mod/B18.txt
countries/DoA_mod/B19.txt
countries/DoA_mod/B31.txt
countries/DoA_mod/B32.txt
countries/DoA_mod/B34.txt
countries/DoA_mod/B39.txt
countries/DoA_mod/B40.txt
countries/DoA_mod/B42.txt
countries/DoA_mod/B53.txt
countries/DoA_mod/B57.txt
countries/DoA_mod/B58.txt
countries/DoA_mod/B59.txt
countries/DoA_mod/B62.txt
countries/DoA_mod/B66.txt
countries/DoA_mod/B68.txt
countries/DoA_mod/B70.txt
countries/DoA_mod/B72.txt
countries/DoA_mod/B83.txt
countries/DoA_mod/B85.txt
countries/DoA_mod/B86.txt
countries/DoA_mod/B90.txt
countries/DoA_mod/B98.txt
countries/DoA_mod/C00.txt
countries/DoA_mod/C02.txt
countries/DoA_mod/C03.txt
countries/DoA_mod/C04.txt
countries/DoA_mod/C06.txt
countries/DoA_mod/C07.txt
countries/DoA_mod/C09.txt
countries/DoA_mod/C11.txt
countries/DoA_mod/C14.txt
countries/DoA_mod/C16.txt
countries/DoA_mod/C18.txt
countries/DoA_mod/C19.txt
countries/DoA_mod/C20.txt
countries/DoA_mod/C21.txt
countries/DoA_mod/C25.txt
countries/DoA_mod/C28.txt
countries/DoA_mod/C29.txt
countries/DoA_mod/C30.txt
countries/DoA_mod/C31.txt
countries/DoA_mod/C32.txt
countries/DoA_mod/C33.txt
countries/DoA_mod/C34.txt
countries/DoA_mod/C36.txt
countries/DoA_mod/C37.txt
countries/DoA_mod/C38.txt
countries/DoA_mod/C39.txt
countries/DoA_mod/C40.txt
countries/DoA_mod/C41.txt
countries/DoA_mod/C42.txt
countries/DoA_mod/C43.txt
countries/DoA_mod/C44.txt
countries/DoA_mod/C46.txt
countries/DoA_mod/C48.txt
countries/DoA_mod/C49.txt
countries/DoA_mod/C50.txt
countries/DoA_mod/C51.txt
countries/DoA_mod/C52.txt
countries/DoA_mod/C53.txt
countries/DoA_mod/C54.txt
countries/DoA_mod/C55.txt
countries/DoA_mod/C56.txt
countries/DoA_mod/C57.txt
countries/DoA_mod/C58.txt
countries/DoA_mod/C59.txt
countries/DoA_mod/C61.txt
countries/DoA_mod/C62.txt
countries/DoA_mod/C63.txt
countries/DoA_mod/REB.txt
countries_orig.txt
countries.txt
setup.txt
console.py
DoA2.1.rome
